
body{
    background-color: #e1f2f7;
}
span{

    color: black;
    background-color: rgb(244, 191, 221);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 2px;
    padding: 2px;  
    border-radius: 4px 4px 8px;
    border: 1px solid;
    position: relative;
    padding-left:4px ;
    display: inline-block;
    
}
div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    font-size: 150%;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-radius: 2px;

}

/*Bio data*/
.bio{
    height: 1.5cm;
    width: 33.333%;
    background-color: #d4c7e0e8;
    float: left;
    padding-top: 20px;
}
 .bio:hover{
    background-color:#e91845

 }

 /*photo*/ 
.photo{
    height: 1.5cm;
    width: 33.333%;
    padding-top: 20px;
    background-color: rgba(42, 19, 132, 0.831);
    display: inline-block;
    margin-left:33.333%;
 

}
.photo:hover{
    background-color:#e91845
}

/*paragraph p*/

p{
    color: black;
   font-family: century gothiec;
}
 .par{
    align-content: center;
    padding-bottom: 40px;

 }

/*education*/
.educ{
    height: 2.5cm;
    width: 33.333%;
    padding-top: 50px;
    background-color:#7285A5;
    margin-left: 33.333%;
    
   
}
.educ:hover{
    background-color:#e91845
}


/*hobbies*/
.hobbies{
    height: 3cm;
    width: 33.333%;
    padding-top: 90px;
    background-color:#6e58eb;
    float: left;
}
.hobbies:hover{
    background-color:#e91845
}
/*ontacts*/
.contact{
    height: 3cm;
    width: 33.333%;
    padding-top: 90px;
    background-color:rgb(239, 199, 125);
    display: inline-block;
    margin-left:33.333%;

}

.contact:hover{
    background-color:#e91845
    
}

footer{
    background-color: rgb(236, 154, 166)
}
